.accordion {
    margin: 2rem 45rem;
    background-color: transparent;

}

.accordion-item {
    border-radius: 1rem;
    padding-right: 2.4rem;
    border-top: 0;
    border-bottom: 0;
}

/* make the border of  first and last accordion round */
.accordion-item:first-of-type,
.accordion-item:first-of-type .accordion-button,
.accordion-item:last-of-type,
.accordion-item:last-of-type .accordion-button {
    border-radius: 1rem !important;
}

.accordion-header {
    background-color: transparent;
    margin: 0;
}

/* Chỉnh format cho accordion */
.accordion-button {
    font-family: monExtraBoldItalic;
    font-size: 1.5rem;
    color: #FFA4F2;
    text-align: center;
    align-items: center;
    /* flex-direction: column; */
    background-color: #6B71FF;
    border-radius: 1rem;
    margin: 1rem 0;
}

.accordion-button:not(.collapsed) {
    color: #FFA4F2;
    background-color: #6B71FF;
}
/* for arrow icon */
.accordion-button::after,
.accordion-button:not(.collapsed)::after {
    background: url('/images/ICON/ICONOGRAPHY/CASEHONG_Icons_DOWN.svg') no-repeat center;
    height: 2.005rem;
    width: 3rem;
}

/* arrow icon will rotate when being clicked */
.accordion-button:not(.collapsed)::after {
    transform: rotate(-180deg);
}

/* Chỉnh format cho nội dung điều khoản */
.accordion-body {
    font-family: monRegular;
    font-size: 1.5rem;
    padding: 4rem;
    padding-top: 2rem;
}
/* ĐIỀU KHOẢN VÀ ĐIỀU KIỆN - CONDITION & TERMS */
.sub {
    font-family: monRegular;
    font-size: 1.2rem;
    padding: 2.5rem 35rem;
}
.term {
    color: #6B71FF !important;
    background-color: #FFFDC2 !important;
}