/* PRODUCT LIST HÀNG 4 Ô, KHI HOVER MỖI ẢNH SẼ CÓ OVERLAY CHỮ
    CAO 30% NỀN ĐEN CLEAR TRANSITION TỪ DƯỚI LÊN */


.arrival {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates four columns of equal width */
    gap: 1.5rem; /* Adjust spacing between cards both vertically and horizontally */
    margin-left: 20px; /* Spacing around the entire grid */
    margin-right: 20px; /* Spacing around the entire grid */
}

.card {
    position: relative;
    overflow: hidden;
    width: 100%; /* Ensure full width */
    margin: auto; /* Center the card if needed */
    background-color: transparent;
    border-style: none;
}
.card a {
    text-decoration: none !important;
    color: black !important;
}
.card-img {
    display: block; /* Removes any additional space below the image */
    width: 100%; /* Full width of the container */
    height: auto;
    aspect-ratio: 1 / 1; /* Maintains square aspect ratio */
    border-radius: 1.8vw; /* Adds border radius */
}
.card .card-img-overlay {
    position: absolute;
    bottom: 0; /* Align to bottom */
    left: 0;
    right: 0;
    top: 0;
    /*  Remove top positioning
    ======== HELP MOVE TEXT TO THE BOTTOM======= */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    opacity: 0; /* Start fully transparent */
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    border-radius: 2rem; /* Adds border radius */

}
.card:hover .card-img-overlay {
    opacity: 1; /* Fully visible on hover */
}

.overlay-text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    pointer-events: none; /* Ensures the text does not interfere with interaction */
}

.overlay-text {
    color: white; /* Change this to the desired text color */
    font-size: 1.5rem; /* Adjust the size as needed */
    text-align: center;
}
.overlay-newArrivals-container {
    position: relative;
    width: 100%; /* Adjust based on your layout requirements */
}

.overlay-newArrivals-text {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust positioning to truly center */
    z-index: 2; /* Ensures overlay is above the card images */
    color: black; /* Text color */
    font-size: 7rem; /* Text size */
    padding: 10px 20px; /* Padding around the text */
    border-radius: 5px; /* Optional: rounded corners */
    pointer-events: none; /* Allows clicks to pass through to elements below */
}
