@font-face {
    font-family: 'Montserrat';
    src: url('/font/Montserrat/Montserrat-Black.ttf');
    src: url('/font/Montserrat/Montserrat-BlackItalic.ttf');
    src: url('/font/Montserrat/Montserrat-Bold.ttf');
    src: url('/font/Montserrat/Montserrat-BoldItalic.ttf');
    src: url('/font/Montserrat/Montserrat-ExtraBold.ttf');
    src: url('/font/Montserrat/Montserrat-ExtraBoldItalic.ttf');
    src: url('/font/Montserrat/Montserrat-ExtraLight.ttf');
    src: url('/font/Montserrat/Montserrat-ExtraLightItalic.ttf');
    src: url('/font/Montserrat/Montserrat-Italic.ttf');
    src: url('/font/Montserrat/Montserrat-Light.ttf');
    src: url('/font/Montserrat/Montserrat-LightItalic.ttf');
    src: url('/font/Montserrat/Montserrat-Medium.ttf');
    src: url('/font/Montserrat/Montserrat-MediumItalic.ttf');
    src: url('/font/Montserrat/Montserrat-Regular.ttf');
    src: url('/font/Montserrat/Montserrat-SemiBold.ttf');
    src: url('/font/Montserrat/Montserrat-SemiBoldItalic.ttf');
    src: url('/font/Montserrat/Montserrat-Thin.ttf');
    src: url('/font/Montserrat/Montserrat-ThinItalic.ttf');
  }
  
  @font-face {
    font-family: 'Trust';
    src: url('/font/FZ-SG\ PAG\ Trust.ttf');
  }

  /* BOLD */
  @font-face {
    font-family: monBold;
    src: url('/font/Montserrat/Montserrat-Bold.ttf') format('truetype');
  }
  /* SEMI BOLD */
  @font-face {
    font-family: monSemiBold;
    src: url('/font/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  }
  /* SEMI BOLD ITALIC */
  @font-face {
    font-family: monSemiBoldItalic;
    src: url('/font/Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
  }
  /* BOLD ITALIC */
  @font-face {
    font-family: monBoldItalic;
    src: url('/font/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
  }
  /* EXTRA BOLD ITALIC */
  @font-face {
    font-family: monExtraBoldItalic;
    src: url('/font/Montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  }
  /* REGULAR */
  @font-face {
    font-family: monRegular;
    src: url('/font/Montserrat/Montserrat-Regular.ttf') format('truetype');
  }
  /* MEDIUM */
  @font-face {
    font-family: monMedium;
    src: url('/font/Montserrat/Montserrat-Medium.ttf') format('truetype');
  }
  /* MEDIUM ITALIC */
  @font-face {
    font-family: monMediumItalic;
    src: url('/font/Montserrat/Montserrat-MediumItalic.ttf') format('truetype');
  }
  /* ITALIC */
  @font-face {
    font-family: monItalic;
    src: url('/font/Montserrat/Montserrat-Italic.ttf') format('truetype');
  }
  /* LIGHT ITALIC */
  @font-face {
    font-family: monLightItalic;
    src: url('/font/Montserrat/Montserrat-LightItalic.ttf') format('truetype');
  }
  /* LIGHT */
  @font-face {
    font-family: monLight;
    src: url('/font/Montserrat/Montserrat-Light.ttf') format('truetype');
  }