.section-txt {
    font-size: 5rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.8px;
}

.section-txt p {
    font-family: monSemiBoldItalic;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.section-txt h1 {
    font-family: 'Trust';
    font-size: 4rem;
    padding: 0 1rem;
}