/* PHƯƠNG THỨC THANH TOÁN */
.btn-outline-primary {
    margin-right: 1rem;
    padding: 0.5rem 2rem !important;
    height: auto;
    width: auto;
    border: solid #FFA4F2 0.3rem;
    border-radius: 5rem !important;
    color: #FFA4F2;
    font-family: monMedium;
    font-size: 2rem !important;
    align-self: center;
}

.btn-check:active+.btn-outline-primary,
.btn-check:checked+.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
    background-color: #6B71FF;
    border: 0.2rem solid #FFA4F2;
}
.btn-outline-primary:hover {
    background-color: transparent; /* Background color when hovered */
}
.signup, .login button{
    font-family: monExtraBoldItalic;
    font-size: 2.3rem;
    height: 3rem;
    width: auto;
    padding: 1rem 4.5rem;
    color: #6B71FF;
    background-color: #FFFDC2;
    border: none;
    border-radius: 3rem;
}
.login {
    display: flex;
    justify-content: end;
}
.login button {
    color: #FFA4F2;
    background-color: #6B71FF;
    margin-bottom: 3rem;
}
