.question {
    font-family: monExtraBoldItalic;
    font-size: 2rem;
    text-align: center;
    color: #6B71FF;
    background-color: #FFA4F2;
    border-radius: 3rem;
    padding: 2rem;
    margin: 5rem 20rem;
}

.answer {
    font-family: monRegular;
    font-size: 1.5rem;
    width: 55rem;
    padding-top: 5rem;
    padding-bottom: 0.5rem;
}

.nest {
    padding-top: 3rem !important;
}

.answer h4 {
    font-family: monSemiBoldItalic;
    font-size: 2rem;
}