.recommend {
    background-color: #6B71FF;
    display: block;
    margin-top: 3rem;
}
.recommend h1 {
    font-family: monBold;
    color: #FFA4F2;
    font-size: 2.5rem;
    align-content: center;
    text-align: center;
    padding: 3rem 0 1rem 0;
}
.recommend .card {
    margin: 0 3rem;
}
.recommend .productList {
    margin: 0 7rem;
    color: white;
    grid-template-columns: repeat(4, 1fr); /* Creates four columns of equal width */
}
.recommend .text-center {
    background-color: #6B71FF;
}
.recommend .card-name {
    font-family: monBold;
    font-size: 1.3rem;
    margin: 0;
}
.recommend .card-category {
    font-family: monRegular;
    font-size: 1.3rem;
    margin: 0;
}
.recommend .card-price {
    font-family: monLightItalic;
    font-size: 1.3rem;
}