/* set the responsive logo for laptop/ipad/phone */

/* LOGO/SLOGAN FOR NAVBAR */
/* *************** */

.slogan img {
  width: 50px;
  height: 52px;

}

.slogan a {
  text-decoration: none;
  font-family: monSemiBold;
  font-style: italic;
  font-size: 1.6rem;
  padding: 0px 1rem;
  align-items: end;
}

.mx-auto img {
  height: 94px;
  width: 185px;
}

.mx-auto {
    width: 7vw; /* Adjust this value to control the initial width relative to the viewport */
    height: auto;
    aspect-ratio: 185 / 94;
  }
  
  @media (max-width: 1024px) {
    .mx-auto {
      width: 15vw; /* Adjust the width for IPAD screens */
    }
  }
  
  @media (max-width: 480px) {
    .mx-auto {
      width: 25vw; /* Further adjust the width for PHONE screens */
    }
  }

/* LOGO FOR FOOTER */
/* *************** */
.container-footer .logo-footer {
    width: 18vw; /* Adjust this value to control the initial width relative to the viewport */
    height: auto;
    aspect-ratio: 361 / 73.79;
  }
  
  @media (max-width: 1024px) {
    .container-footer .logo-footer {
      width: 25vw; /* Adjust the width for IPAD screens */
    }
  }
  
  @media (max-width: 480px) {
    .container-footer .logo-footer {
      width: 35vw; /* Further adjust the width for PHONE screens */
    }
  }