.container-footer .nav .nav-item{
    border-style: none;
    background: transparent;

}

body {
     background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.7)), url('/images/nền.svg'); /* Combine semi-transparent overlay and background image */
    background-size: 100%; /* Ensures the image covers the entire area */
}

.row {
    padding-top: 4rem;
    padding-bottom: 2rem;
    display: block;
}

.bold-txt {
    font-family: monSemiBold;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;

}

.regular-txt {
    font-family: monRegular;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.medium {
    font-family: monMedium;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    display: flex;
    align-items: center;
}

.copyright {
    font-family: monMedium;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    padding-top: 0 !important;
    padding-left: 11rem;
}

.container-footer .flex-fill {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center; /* make text and icon align center */
    padding-top: 7rem;
}
.container-footer .d-flex {
    width: 100%;
}


